{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="site-container row">
    <div class="col-md-6 account-image-container">
            <a href="#">
                <img src="\static\images\logo.png" alt="Fund Frontier" class="img-fluid">
            </a>
    </div>

    <div class="col-md-6">
        <div>
            <h1>{% trans "Sign In" %}</h1>

            <p>
            {% blocktrans %}
                Welcome to Fund Frontier NVP Calculator. If you have not created an account yet, then 
                <a href="{{ signup_url }}">sign up</a> first.
            {% endblocktrans %}
            </p>
        </div>

        <div>
            <form class="site-form" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                <div class="form-group">{{ form.as_p }}</div>
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button type="submit">{% trans "Sign In" %}</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}