{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

{% block extra_cs %}
<style>
    footer {
        width: 100vw;
        position: absolute;
        bottom: 0;
    }
</style>
{% endblock %}

<div class="auth-container">
        <div >
            <h1 class="text-center">{% trans "Sign In" %}</h1>

            <p class="login-description">{% blocktrans %}Welcome to Fund Frontier NVP Calculator | If
                you
                have not created an account yet, then <a class="link" href="{{ signup_url }}">sign up</a>
                first.{% endblocktrans %}</p>
        </div>

        <div >
            <form class="login-form" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                <div class="form-group">
                    <p>
                        <label for="id_login">Username:</label>
                        <input type="text" name="login" placeholder="Username" autocomplete="username" maxlength="150"
                            required="" id="id_login" class="auth-fields">
                    </p>
                    <p>
                        <label for="id_password">Password:</label>
                        <input type="password" name="password" placeholder="Password" autocomplete="current-password"
                            required="" aria-describedby="id_password_helptext" id="id_password" class="auth-fields">
                        <span class="helptext" id="id_password_helptext"><a href="/accounts/password/reset/">Forgot your password?</a></span>
                    </p>
                    <p>
                        <label for="id_remember">Remember Me:</label>
                        <input type="checkbox" name="remember" id="id_remember">
                    </p>
                </div>
                <button class="btn right auth-submit" type="submit">{% trans "Sign In" %}</button>
            </form>
    </div>
</div>
{% endblock %}

