{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Registration" %}{% endblock %}

{% block content %}

<div class="signup-container">
    <div class="row signup-mobile">
        <div class="col-md-6 signup-image-container">
            <a href="#">
                <img src="\static\images\logo.png" alt="Fund Frontier">
            </a>
        </div>
        <div class="col-md-6 signup-form">
            <h1 class="text-center">{% trans "Create Your Account" %}</h1>
            <p class="text-center">{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign
                    in</a>.{% endblocktrans %}</p>
            <form method="post" action="{% url 'account_signup' %}">
                {% csrf_token %}
                <div class="form-group mx-auto">
                    <p>
                        <label for="id_username">Username:</label>
                        <input class="signup-fields" type="text" name="username" placeholder="Username" autocomplete="username" minlength="1"
                            maxlength="150" required="" id="id_username">
                    </p>

                    <p>
                        <label for="id_email">Email (optional):</label>
                        <input class="signup-fields" type="email" name="email" placeholder="Email address" autocomplete="email"
                            maxlength="320" id="id_email">
                    </p>
                    <p>
                        <label for="id_password1">Password:</label>
                        <input class="signup-fields" type="password" name="password1" placeholder="Password" autocomplete="new-password"
                            required="" aria-describedby="id_password1_helptext" id="id_password1"
                            aria-autocomplete="list">
                        <span class="helptext" id="id_password1_helptext"></span>
                    </p>
                    <p>
                        <label for="id_password2">Password (again):</label>
                        <input class="signup-fields" type="password" name="password2" placeholder="Password (again)"
                            autocomplete="new-password" required="" id="id_password2">
                    </p>
                </div>
                <div class="text-center">
                    <button type="submit" id="signup-submit" class="btn btn-primary">Create Your Account</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}