{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Registration" %}{% endblock %}

{% block content %}

    <div class="site-container row">
        <div class="col-md-6 account-image-container">
            <a href="#">
                <img src="\static\images\logo.png" alt="Fund Frontier" class="img-fluid">
            </a>
        </div>
        <div class="col-md-6">
            <h1>{% trans "Sign Up" %}</h1>
            <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
            <form class="site-form" id="registration_form" method="post" action="{% url 'account_signup' %}">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.as_p }}
                </div>
                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <div>
                    <button type="submit" id="button-submit">{% trans "Sign up" %}</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}