{% extends 'base.html' %}


{% load static %}
{% block extra_meta %}
<!-- Specific meta tags for the About page can be placed here -->
{% endblock %}
{% block extra_css %}

{% endblock %}
{% block extra_title %}About Fund Frontier{% endblock %}
{% block content %}
<div class="about-page text-white mt-5">
    <section class="intro-container animated slideInFromRight">
        <h1>About Fund Frontier</h1>
        <p>Empowering your investment decisions with precision and insight.</p>
    </section>
    <!-- Introduction and Purpose -->
    <section class="intro-container animated slideInFromLeft">
        <h2>Empowering Investment Decisions</h2>
        <p>
            Fund Frontier is at the forefront of investment analysis tools, offering a state-of-the-art NPV Calculator designed to empower users in making informed investment decisions. Our platform stands out by providing detailed, comprehensive analyses, enabling a thorough understanding of investment potentials and risks.
        </p>
    </section>
    <!-- Additional Section -->
    <section class="intro-container animated slideInFromRight">
        <h2>Innovative Analysis Tools</h2>
        <p>
            Explore new horizons in investment with Fund Frontier's innovative suite of analytical tools. Uncover the hidden value in your portfolio with our expert insights and user-friendly interface.
        </p>
    </section>
    <!-- Introduction and Purpose -->
    <section class="intro-container animated slideInFromLeft">
        <h2>Empowering Investment Decisions</h2>
        <p>
            Fund Frontier is at the forefront of investment analysis tools, offering a state-of-the-art NPV Calculator designed to empower users in making informed investment decisions. Our platform stands out by providing detailed, comprehensive analyses, enabling a thorough understanding of investment potentials and risks.
        </p>
    </section>

    <!-- Features and Advantages -->
    <section class="feature-section mt-5">
        <h1>Features and Advantages</h1>
        <!-- Feature 1 -->
        <div class="feature-box">
            <h3>Triple-Project Evaluation</h3>
            <p>
                Unlike most tools, Fund Frontier enables the simultaneous evaluation of up to three projects, providing a broad perspective and a meticulous comparative analysis.
            </p>
        </div>
        <!-- Feature 2 -->
        <div class="feature-box">
            <h3>Detailed Metrics</h3>
            <p>
                Our tool goes beyond mere calculations; it interprets data. With metrics like NPV and Payback Period, you're not just viewing numbers but understanding the story they tell.
            </p>
        </div>
        <!-- Feature 3 -->
        <div class="feature-box">
            <h3>User-Centric Design</h3>
            <p>
                Our platform ensures that whether you're a novice investor or a seasoned financial expert, evaluating projects is straightforward and hassle-free.
            </p>
        </div>
        <!-- Feature 4 -->
        <div class="feature-box">
            <h3>Dynamic Project Management</h3>
            <p>
                The ability to save, view, modify, and delete projects empowers you with full control over your investment analysis process.
            </p>
        </div>
        <!-- Feature 5 -->
        <div class="feature-box">
            <h3>Intelligent Project Ranking</h3>
            <p>
                Navigate investment choices with confidence. Our intelligent ranking system highlights the most lucrative projects, helping you make informed decisions swiftly.
            </p>
        </div>
        <!-- Feature 6 -->
        <div class="feature-box">
            <h3>Technological Excellence</h3>
            <p>
                Built on a foundation of robust technologies like Django and Python, Fund Frontier guarantees performance, security, and reliability.
            </p>
        </div>
    </section>
</div>
{% endblock %}
{% block extra_js %}
<!-- Specific JavaScript for the About page can be placed here -->
{% endblock %}