{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="title">Net Present Value (NVP) Calculator</div>

    <div class="col-md-5">
        <div class="form-area">
            {% comment %} TODO: Limit discount rate {% endcomment %}
            <form action="{% url 'calculate-npv' %}" method="post">
                <br style="clear:both">
                <h4>Calculate NPV</h4>
                {% csrf_token %}
                <div id="forms">
                    {{ form.as_p }}
                </div>
                <div class="grid">
                        <div class="btn-year">
                            <button class="year" type="button" id="add-another">Add Year</button>
                        </div>
                        <div class="btn-year">
                            <button class="year btn-red" type="button" id="delete-another">Delete Year</button>
                        </div>
                    <div class="btn-submit">
                        <input id="btn-submit" type="submit" value="Submit">
                    </div>
                </div>
            </form>
        </div>
        </div>
    </div>
    <p>NPV: € {{ npv }}</p>



</div>

{% endblock %}