{% extends 'base.html' %}

{% load static %}
{% block extra_meta %}
{% endblock %}
{% block extra_css %}
<style>
  
    /* Contact Form */

    .team-area {
        width: 70vw;
        margin: 2rem auto;
        text-align: center;
        background: #fff;
    }
    
    .team-box {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .box {
        width: 250px;
        margin: 20px;
        padding: 30px 0;
        background: #cbc8c8;
    }
    
    .team-member {
        width: 104px;
        height: 104px; /* Set a fixed height */
        border-radius: 50%; /* Make image circular */
        margin: 1rem auto; /* Center the image horizontally */
        display: block; /* Required to enable margin: 0 auto to work */
        backface-visibility: hidden;
    }
    
    
</style>
{% endblock %}
{% block extra_title %}Contact Us | Fund Frontier{% endblock %}
{% block content %}
<div>
    <div class="team-area">
        <div >
            <h1 class="">Meet the team</h1>
        </div>
        <div class="team-box">
            <div class="box">
                <img src="{% static 'images/nate.png' %}" alt="team member" class="team-member">
                <h3 class=" lobster-text"> Nate</h3>
                <span class="lobster-text">Backend</span>

                <div>
                    <a href="https://www.linkedin.com/in/redsskull/" target="_blank">
                        <i class="fa fa-xl fa-linkedin text-primary"></i>
                    </a>
                </div>
            </div>
            <div class="box">
                <img src="{% static 'images/sean.png' %}" alt="team member" class="team-member">
                <h3 class="lobster-text"> Sean</h3>
                <span class="lobster-text">Backend</span>
                <div>
                    <a href="https://www.linkedin.com/in/seanmeadedev/" target="_blank">
                        <i class="fa fa-xl fa-linkedin text-primary"></i>
                    </a>
                </div>
            </div>
            <div class="box">
                <img src="{% static 'images/bogdan.png' %}" alt="team member" class="team-member">
                <h3 class="lobster-text"> Bogdan</h3>
                <span class="lobster-text">Scrum Master</span>
                <div>
                    <a href="https://www.linkedin.com/in/bogdan-gugu-83ba4b11a/" target="_blank">
                        <i class="fa fa-xl fa-linkedin text-primary"></i>
                    </a>
                </div>
            </div>
            <div class="box">
                <img src="{% static 'images/marko.png' %}" alt="team member" class="team-member">
                <h3 class="lobster-text"> Marko</h3>
                <span class="lobster-text">Frontend</span>
                <div>
                    <a href="https://www.linkedin.com/in/markohautala/" target="_blank">
                        <i class="fa fa-xl fa-linkedin text-primary"></i>
                    </a>
                </div>
            </div>
            <div class="box">
                <img src="{% static 'images/johnny.png' %}" alt="team member" class="team-member">
                <h3 class="lobster-text"> Johnny</h3>
                <span class="lobster-text">Frontend</span>
                <div>
                    <a href="/" target="_blank">
                        <i class="fa fa-xl fa-linkedin text-primary"></i>
                    </a>
                </div>
            </div>
            <div class="box">
                <img src="{% static 'images/andreas.png' %}" alt="team member" class="team-member">
                <h3 class="lobster-text"> Andreas</h3>
                <span class="lobster-text">Documentation</span>
                <div>
                    <a href="https://www.linkedin.com/in/andreas-jelenko-03b061172/" target="_blank">
                        <i class="fa fa-xl fa-linkedin text-primary"></i>
                    </a>
                </div>
            </div>
        </div>
</div>
{% endblock %}
{% block extra_js %}
<!-- Specific JavaScript for the Contact page can be placed here -->
<script src="https://kit.fontawesome.com/27cbf33ba8.js" crossorigin="anonymous"></script>
{% endblock %}