{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="title">Edit Project - {{project_name}}</div>

    <div class="col-md-5">
        <div class="form-area">
            {% comment %} TODO: Limit discount rate {% endcomment %}
            
                <form action="{% url 'edit_project' project_id=project_id %}" method="post">
                <br style="clear:both">
                <h4 style="margin-bottom: 25px; text-align: center;">Project Details</h3>
                {% csrf_token %}
                <div id="forms">
                    {{ form.as_p }}
                </div>
                
                <input type="submit" value="Save Changes">                
            </form>
        </div>
        </div>
    </div>

</div>

{% endblock %}
{% block extra_js_footer %}
<script>

    // Collect the dict data sent from edit_project view
    var cash_flows = {{ cash_flows_dict | safe }};

    // number of cash flows
    count = Object.keys(cash_flows).length

    // Update the cash_flow_year_count on the form (to keep track when adding and removing)
    $("[name=cash_flow_year_count]").val(count);

    // For every cash flow 
    for (let i = 2 ; i <= count +1; i++) {
        //create an input element and give the cash flow for that year
        let element = $('<input type="number" value="'+ cash_flows[i] +'"/>');
        // update the name so the view can use it
        element.attr('name', 'cash_flow_year_' + i);
        // add that cash flow with it's populated value to the form
        $("#forms").append(element);

      }

</script>
{% endblock %}
