{% extends "base.html" %}

{% block content %}

<div class="container mt-4">
    <h1>Project List</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Evaluation Name</th>
                <th scope="col">Discount Rate</th>
                <th scope="col">Note</th>
                <th scope="col">No. of Projects</th>
                <th scope="col">Period</th>
            </tr>
        </thead>
        <tbody>
            {% for evaluation in evaluations %}
            <tr>
                <td>{{ evaluation.name }}</td>
                <td>{{ evaluation.discount_rate }}</td>
                <td>{{ evaluation.note }}</td>
                <td>{{ evaluation.number_of_projects }}</td>
                <td>{{ evaluation.period }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="9">No projects have been added yet.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}