{% extends "base.html" %}

{% block content %}

<div class="container mt-4">
    <h1>{{evaluation_name}}</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Project Name</th>
                <th scope="col">Evaluation Name</th>
                <th scope="col">Initial Investment</th>
                <th scope="col">Period</th>
                <th scope="col">NPV</th>
                <th scope="col">Payback Period</th>
                <th scope="col">Annualized NPV</th>
                <th scope="col">Consider Further</th>
                <th scope="col">Rank</th>
                <th scope="col">Edit</th>
            </tr>
        </thead>
        <tbody>
            {% for project in projects %}
            <tr>
                <td>{{ project.name }}</td>
                <td>{{ project.evaluation.name }}</td>
                <td>{{ project.initial_investment }}</td>
                <td>{{ project.period }}</td>
                <td>{{ project.npv }}</td>
                <td>{{ project.payback_period }}</td>
                <td>{{ project.annualized_npv }}</td>
                <td>{{ project.get_consider_further_display }}</td>
                <td>{{ project.rank }}</td>
                {% if project.evaluation.user == user %}
                <td><a href="{% url 'edit_project' project_id=project.id %}">Edit</a></td>
                {% else %}
                <td></td>
                {% endif %}
            </tr>
            {% empty %}
            <tr>
                <td colspan="9">No projects have been added yet.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}