/* Defining CSS variables for easy theme management */
:root {
/* Primary color shades */
--clr-primary: #063251;
/* Secondary colors shades */
--clr-secondary-1: #D4AF37;
--clr-secondary-2: #006205;
--clr-secondary-3: #333333;
--clr-secondary-4: #FF6B6B;
/* White/black color shades */
--clr-white: #fff;
--clr-black: #222;
/* Primary and secondary font families */
--ff-primary: 'Arial', sans-serif;
--ff-secondary: "Open Sans", sans-serif;
/* Commonly used CSS properties for consistency */
--transition: all 0.3s linear;
--spacing: 0.1rem;
--radius: 0.5rem;
--light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
--max-width: 1170px;
}

/*
=============== 
Global Styles
===============
*/
html {
scroll-behavior: smooth;
}

html, body {
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

*,
::after,
::before {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
background: url('../images/about-background.jpg')no-repeat center center fixed;
background-size: cover;    
font-family: var(--ff-secondary);
background: var(--clr-secondary-3);
color: var(--clr-black);
line-height: 1.5;
font-size: 0.875rem;
}

/* Heading and paragrahps styling */
h1,
h2,
h3,
h4 {
letter-spacing: var(--spacing);
text-transform: capitalize;
line-height: 1.25;
margin-bottom: 0.75rem;
font-family: var(--ff-primary);
}

h1 {
font-size: 3rem;
}

h2 {
font-size: 2rem;
}

h3 {
font-size: 1.25rem;
}

h4 {
font-size: 0.875rem;
}

p {
margin-bottom: 1.25rem;
color: var(--clr-black);
}

.text-primary {
    color: var(--clr-white);
    font-family: var(--ff-primary);
}

.text-secondary {
    color: var(--clr-secondary-1);
    font-family: var(--ff-primary);
}

/* Utility classes */
header {
background: var(--clr-white);
}

ul {
list-style-type: none;
}

a {
text-decoration: none;
}

.logo {
color: var(--clr-white);
height: 100px;
}

/* Navbar styling */
nav {
background: var(--clr-white);
padding: 0 1.5rem 1rem 1.5rem;
}

/* #navbarSupportedContent {
    padding-right: 30px;
} */

.fixed-nav {
position: fixed;
top: 0;
left: 0;
width: 100%;
background: var(--clr-white);
box-shadow: var(--light-shadow);
}

.fixed-nav .links a {
color: var(--clr-black);
}

.fixed-nav .links a:hover {
color: var(--clr-secondary);
}

.fixed-nav .links-container {
height: auto !important;
}

.nav-header {
display: flex;
align-items: center;
justify-content: space-between;
}

.nav-toggle {
width: 3rem;
height: 3rem;
color: var(--clr-secondary-1);
background: transparent;
border-color: transparent;
transition: var(--transition);
cursor: pointer;
padding: 0.2rem;

}
.nav-toggle:hover {
color: var(--clr-secondary-1);
}

/* Links and navbar */
.links-container {
height: 0;
overflow: hidden;
transition: var(--transition);
}

.show-links {
height: 200px;
}

.links a {
background: var(--clr-white);
color: var(--clr-black);
font-size: 1.1rem;
text-transform: capitalize;
letter-spacing: var(--spacing);
display: block;
transition: var(--transition);
font-weight: bold;
padding: 0.75rem 0;
}

.links a:hover {
color: var(--clr-black);
}

.contact-li {
padding-top: 1rem;
}

.placeholder-color::placeholder {
color: var(--clr-primary);
opacity: 0.7;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 190px);
    grid-template-rows: 80px 50px;
    align-items: center;
    justify-content: center;
}

.btn-year {
    margin: 0.1rem;
    margin-bottom: 0.3rem;
    border-radius: 2px solid red;
}

.btn-submit {
    grid-column-start: 1;
    grid-column-end: 4;
}

/* Button Styling */
#btn-submit {
    color: white;
    background: #0275d8;
}

#delete-another {
    color: var(--clr-white);
    background-color: #ff0000;
}

#add-another {
    color: var(--clr-white);
    background-color: #008000;
}

/* Main Content Styling */
.container {
    min-height: 100%;
    margin-bottom: -50px;
    padding: 20px;
    max-width: 1200px;
    margin: auto; /* Center the container */
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Table Styling */
table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    border: 1px solid #ccc;
    text-align: left;
}

th {
    background-color: #0275d8; /* Bootstrap primary color */
    color: rgb(234, 7, 7);
}

tr:nth-child(even) {
    background-color: #f2f2f2; /* Zebra striping for table */
}

/* NPV Calculator Form Styling */
.form-area {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* subtle shadow for depth */
}
.form-area h4 {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 25px;
    text-align: center;
}

.title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    color: var(--clr-white);
}

/* Input and Button Styling */
input[type=number], .site-button, input[type=submit] {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Include padding in width */
}

input[type=text] {
    width: 100%;
    padding: 5px;
    margin: 1px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Include padding in width */
}

button.year, input[type=submit] {
    border: none;
    font-size: 16px;
    cursor: pointer; /* Indicates that the element is clickable */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

input[type=submit] {
    background-color: #5cb85c; /* Bootstrap success color */
}

input[type=submit]:hover, button.year:hover {
    background-color: #025aa5; /* Darken the button color on hover */
}

/* Footer Styling */
footer p {
    text-align: center;
    color: var(--clr-white);
    text-transform: capitalize;
    letter-spacing: var(--spacing);
}

.footer {
    background: var(--clr-primary);
    display: flexbox;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 3rem;
    max-height: 3rem;
    padding-left: 1rem;
    padding-right: 3rem;
}
/* Footer Styling */
.text-center {
    text-align: center;
}

label {
    font-weight: bold;
    color: var(--clr-black);
}

footer.footer {
    padding: 15px 0;
}
.title {
    font-size: 24px;
}
.form-area, .container {
    padding: 15px;
}
.grid {
    grid-template-columns: repeat(2, 90px);
    grid-template-rows: 50px 50px;
}
button.year {
    font-size: 0.6rem;
}

/* About section */
.feature-section {
    text-align: center;
    padding: 4rem 0;
    max-width: 65%; /* Maximum width of the container to 65% of the parent element */
    margin-left: auto; /* Center the container on the page */
    margin-right: auto; /* Center the container on the page */
}

.feature-box {
    background: var(--clr-white);
    border: 2px solid var(--clr-secondary-1);
    border-radius: 4px;
    padding: 2rem;
    margin-bottom: 2rem;
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease;
}

.feature-box:hover {
    box-shadow: 0 8px 16px rgba(0,0,0,0.1);
    transform: scale(1.01); /* Corrected property name for scaling */
}

.feature-icon {
    /* Style your icons here */
    size: 1rem;
}

.feature-title {
    font-family:'cursive';
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.feature-text {
    font-family:'cursive';
    font-size: 1rem;
    line-height: 1.6;
}

.feature-text p {
    font-family:'cursive';
    font-size: 1rem;
}

/* .bg-1 {
    background: url(../images/about_background.jpg) center /cover no-repeat;
} */

/* Responsive Styling */

/* Media queries for different screen sizes */
@media screen and (min-width: 768px) {
    h1 {
        font-size: 4rem;
    }
    h2 {
        font-size: 2.5rem;
    }
    h3 {
        font-size: 1.75rem;
    }
    h4 {
        font-size: 1rem;
    }
    body {
        font-size: 1rem;
    }
    h1,
    h2,
    h3,
    h4 {
        line-height: 1;
    }

    nav {
        background: var(--clr-white);
    }
    .nav-center {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .nav-header {
        padding: 0;
    }
    .nav-toggle {
        display: none;
    }
    .links-container {
        height: auto !important;
    }
    .links {
        display: flex;
    }
    .links a {
        background: transparent;
        color: var(--clr-black);
        font-size: 1.5rem;
        text-transform: capitalize;
        letter-spacing: var(--spacing);
        display: block;
        transition: var(--transition);
        margin: 0 0.5rem;
        font-weight: bold;
        padding: 0;
    }
    .links a:hover {
        color: var(--clr-secondary-4);
    }
}

.signup-image-container {
    position: relative;
    overflow: hidden;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
}

.signup-image-container img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.signup-image-container:hover img {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.signup-image-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3));
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.signup-image-container:hover::before {
    opacity: 1;
}

.login-container {
    max-width: 600px;
    margin: 0 auto;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.login-title {
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 2rem;
}

.login-description {
    text-align: center;
    margin-bottom: 2rem;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form .form-group {
    margin-bottom: 1rem;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.login-form input[type="text"]:focus,
.login-form input[type="password"]:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn-signup {
    width: 100%;
    background-color: #007bff;
    border: 1px solid #007bff;
    color: #fff;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.btn-signup:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.btn-signup:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.right {
    margin-top: 1rem;
}

.link {
    color: #007bff;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}


input.percentage::after {
    content: '%';
}

input.currency::before {
    content: '$';
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
    appearance:textfield;
}


