/* Defining CSS variables for easy theme management */
:root {
/* Primary color shades */
--clr-primary: #063251;
/* Secondary colors shades */
--clr-secondary-1: #D4AF37;
--clr-secondary-2: #006205;
--clr-secondary-3: #333333;
--clr-secondary-4: #FF6B6B;
/* White/black color shades */
--clr-white: #fff;
--clr-black: #222;
/* Primary and secondary font families */
--ff-primary: 'Arial', sans-serif;
--ff-secondary: "Open Sans", sans-serif;
/* Commonly used CSS properties for consistency */
--transition: all 0.3s linear;
--radius: 0.5rem;
--light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
--max-width: 1170px;
}

/*
=============== 
Global Styles
===============
*/
html {
scroll-behavior: smooth;
}


*,
::after,
::before {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
background: url('../images/about-background.jpg')no-repeat center center fixed;
background-size: cover;    
font-family: var(--ff-secondary);
color: var(--clr-black);
line-height: 1.5;
font-size: 0.875rem;
}

.text-primary {
    color: var(--clr-white);
    font-family: var(--ff-primary);
}

.text-secondary {
    color: var(--clr-secondary-1);
    font-family: var(--ff-primary);
}

/* Utility classes */
header {
background: var(--clr-white);
}

.logo {
height: 100px;
}

/* Navbar styling */
nav {
padding: 0 1.5rem 1rem 1.5rem;
}

.nav-header {
display: flex;
align-items: center;
justify-content: space-between;
}

.contact-li {
padding-top: 1rem;
}

#delete-another {
    color: var(--clr-white);
    background-color: #ff0000;
}

#add-another {
    color: var(--clr-white);
    background-color: #008000;
}

/* Table Styling */
table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    border: 1px solid #ccc;
    text-align: left;
}

th {
    background-color: #0275d8; /* Bootstrap primary color */
    color: rgb(234, 7, 7);
}

tr:nth-child(even) {
    background-color: #f2f2f2; /* Zebra striping for table */
}

/* NPV Calculator Form Styling */
.form-area {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* subtle shadow for depth */
}
.form-area h4 {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 25px;
    text-align: center;
}


label {
    font-weight: bold;
    color: var(--clr-black);
}

.title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    color: var(--clr-white);
}

/* Sign Up Form */


#signup-submit {
    background-color: #063251;
    font-size: larger;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid white;
    margin-top: 1rem;
}

#signup-submit:hover {
    background-color: #0a4b79;
}

.signup-fields {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 0.5rem;
}

/* Input and Button Styling */
/*
input[type=number], .site-button, input[type=submit] {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
}



button.year, input[type=submit] {
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type=submit] {
    background-color: #5cb85c;
}

input[type=submit]:hover, button.year:hover {
    background-color: #025aa5;
}*/

/* Footer Styling */


footer {
    display: flex;
    justify-content: space-around;
    background: #fff;
    color: #000;
    padding: 2rem;
}

.year {
    font-size: 0.6rem;
}

/* About section */
.feature-section {
    text-align: center;
    padding: 4rem 0;
    max-width: 65%; /* Maximum width of the container to 65% of the parent element */
    margin-left: auto; /* Center the container on the page */
    margin-right: auto; /* Center the container on the page */
}

.feature-box {
    border: 2px solid var(--clr-secondary-1);
    border-radius: 4px;
    padding: 2rem;
    margin-bottom: 2rem;
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease;
}

.feature-box:hover {
    box-shadow: 0 8px 16px rgba(0,0,0,0.1);
    transform: scale(1.01); /* Corrected property name for scaling */
}

.feature-title {
    font-family:'cursive';
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.feature-text {
    font-family:'cursive';
    font-size: 1rem;
    line-height: 1.6;
}

/* Responsive Styling */

/* Media queries for different screen sizes */
@media screen and (min-width: 768px) {
    h1 {
        font-size: 4rem;
    }
    h2 {
        font-size: 2.5rem;
    }
    h3 {
        font-size: 1.75rem;
    }
    h4 {
        font-size: 1rem;
    }
    body {
        font-size: 1rem;
    }
    h1,
    h2,
    h3,
    h4 {
        line-height: 1;
    }

}

.signup-container {
    background-color: white;
    border-radius: 30px;
    margin: 3rem auto;
    padding: 2rem;
    max-width: 65vw;
}

.signup-image-container {
    max-height: 65vh;
}

.signup-image-container img {
    height: 100%;
    width: 100%;
}

@media screen and (max-width: 1220px) {
    .signup-image-container {
        display: none;
    }

    .signup-form {
        margin: auto;
        width: 70%;
    }
}

@media screen and (max-width: 1220px) {
    .signup-form {
        width: 80%;
    }
}

@media screen and (max-width: 540px) {
    .signup-form {
        width: 90%;
    }

    .signup-container {
        max-width: 80vw;
    }
}

.signup-form {
}

.login-container {
    max-width: 600px;
    margin: 0 auto;
    padding-top: 3rem;
    padding-bottom: 3rem;
    max-height: 65vh;
}

.login-title {
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 2rem;
}

.login-description {
    text-align: center;
    margin-bottom: 2rem;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.login-form input[type="text"]:focus,
.login-form input[type="password"]:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn-signup {
    width: 100%;
    background-color: #007bff;
    border: 1px solid #007bff;
    color: #fff;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.btn-signup:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.btn-signup:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.right {
    margin-top: 1rem;
}

.link {
    color: #007bff;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}


input.percentage::after {
    content: '%';
}

input.currency::before {
    content: '$';
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
    appearance:textfield;
}


