{% load static %}

<!doctype html>
<html lang="en">

<head>

    {% block head %}

    {% endblock %}

    {% block meta %}
    <!-- Required meta tags -->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% comment %} TODO: Add these {% endcomment %}
    <meta name="description" content="">
    <meta name="keywords" content="">
    {% endblock %}

    {% block extra_meta %}

    {% endblock %}

    {% block favicon %}
    
    {% endblock %}

    {% block corecss %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    {% endblock %}

    {% block extra_css %}

    {% endblock %}

    {% block corejs %}
    <script src="https://unpkg.com/htmx.org@1.6.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>

    {% endblock %}

    {% block extra_js %}


    {% endblock %}

    <title>Rise & Reflect {% block extra_title %}{% endblock %}</title>
</head>

<body>

    <header>
        <nav class="navbar bg-navbar" id="navbar">
            <a href="#" class="nav-logo">
                <img src="{% static 'images/Cloud1.png' %}" alt="Cloud Image" class="cloud-image">
                <span class="text slide-in">Rise and Reflect</span>
            </a>
            <div class="ml-auto">
                {% if user.is_authenticated %}
                    <div class="dropdown">
                        <span class="username">{{ user.username }}</span>
                        <i class="dropdown-toggle" id="userDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                        <div class="dropdown-menu dropdown-menu-right custom-dropdown-menu" aria-labelledby="userDropdown">
                            <a href="{% url 'profile_summary' %}" class="dropdown-item">Profile</a>
                            <a href="{% url 'track_routine' %}" class="dropdown-item">Track Tasks</a>
                            <a href="{% url 'display_routine' %}" class="dropdown-item">Routine</a>
                            <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                        </div>
                    </div>
                {% else %}
                    <a href="{% url 'account_login' %}" class="login-link">Login</a>
                    <a href="{% url 'account_signup' %}" class="signup-link">Sign Up</a>
                {% endif %}
            </div>
        </nav>
    </header>

    {% comment %} {% if messages %}
    <div class="message-container">
        {% for message in messages %}
        {% with message.level as level %}
        {% if level == 40 %}
        {% include 'includes/toasts/toast_error.html' %}
        {% elif level == 30 %}
        {% include 'includes/toasts/toast_warning.html' %}
        {% elif level == 25 %}
        {% include 'includes/toasts/toast_success.html' %}
        {% else %}
        {% include 'includes/toasts/toast_info.html' %}
        {% endif %}
        {% endwith %}
        {% endfor %}
    </div>
    {% endif %} {% endcomment %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    <footer class="py-3 footer">

        <div class="footer-copyright text-center py-2">© 2020 Copyright:
            <a href="https://github.com/sean-meade/rise-and-reflect" target="_blank">Rise & Reflect <i
                    class="fab fa-github"></i></a>
        </div>
    
    </footer>


    </footer>
    {% block jquery_bootstrapjquery %}

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.6.2/js/bootstrap.min.js"></script>

    {% endblock %}
</body>

</html>