<div class="d-flex mt-3 py-5 footer">
    <p class="text-white">Copyright &copy <span id="date"></span> Found Frontier. All rights reserved.</p>
    <div class="hstack gap-3">
        <a class="text-decoration-none" href="https://github.com/sean-meade/fund-frontier" target="_blank" aria-label="Github">
            <i class="fab fa-github fa-3x text-white "></i>
        </a>
    </div>
</div>

<script>
    const date = document.getElementById('date');
    date.innerHTML = new Date().getFullYear();
</script>
  